<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recipe Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"
    th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"
    th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
    ></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class ="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="text-center panel-title"> My Recipes</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <!--/*@thymesVar id="recipe" type="guru.springframework.recipe.springrecipe.domain.Recipe"*/-->
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Description</th>
                                </tr>
                            </thead>
                            <tr th:remove="all">
                                <td class="text-center" th:text="${recipe.id}">132411</td>
                                <td class="text-center" th:text="${recipe.description}">Testy Dish111</td>
                            </tr>
                            <tr th:remove="all">
                                <td class="text-center" th:text="${recipe.id}">132411</td>
                                <td class="text-center" th:text="${recipe.description}">Testy Dish111</td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <td class="text-center" th:text="${recipe.id}">1324</td>
                                <td class="text-center" th:text="${recipe.description}">Testy Dish</td>
                                <td class="text-center">
                                    <a href= "#" th:href="@{'recipe/' + ${recipe.id} +'/show'}">
                                        View
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
